In [1]:
from scipy.io.arff import loadarff
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pandas as pd
import scipy as sp

In [2]:
data, meta = loadarff('_data_/KDDCup99.arff') # not full

In [3]:
columnNames = ['duration', 'protocol_type', 'service', 'flag', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell', 'su_attempted', 'num_root', 'num_file_creations', 'num_shells', 'num_access_files', 'num_outbound_cmds', 'is_host_login', 'is_guest_login', 'count', 'srv_count', 'serror_rate', 'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate', 'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate', 'dst_host_serror_rate', 'dst_host_srv_serror_rate', 'dst_host_rerror_rate', 'dst_host_srv_rerror_rate', 'label']
print(len(columnNames))

42

In [4]:
data = pd.DataFrame(np.asarray([list(i) for i in data], dtype=str))

Indices of columns to one hot vectorize with sk-learn:
    1, 2, 3, 41

In [6]:
cat_cols = [1,2,3,41] # removed 41

Make variables numeric where needed

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.0,tcp,http,SF,181.0,5450.0,0,0.0,0.0,0.0,...,9.0,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal
1,0.0,tcp,http,SF,239.0,486.0,0,0.0,0.0,0.0,...,19.0,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal
2,0.0,tcp,http,SF,235.0,1337.0,0,0.0,0.0,0.0,...,29.0,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
3,0.0,tcp,http,SF,219.0,1337.0,0,0.0,0.0,0.0,...,39.0,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
4,0.0,tcp,http,SF,217.0,2032.0,0,0.0,0.0,0.0,...,49.0,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal

In [8]:
for x in data.columns:
    if x in cat_cols:
        continue
    data[x] = pd.to_numeric(data[x])

One-hot vectorize

In [9]:
data[41].unique()

array(['normal', 'buffer_overflow', 'loadmodule', 'perl', 'neptune',
       'smurf', 'guess_passwd', 'pod', 'teardrop', 'portsweep', 'ipsweep',
       'land', 'ftp_write', 'back', 'imap', 'satan', 'phf', 'nmap',
       'multihop', 'warezmaster', 'warezclient', 'spy', 'rootkit'],
      dtype=object)

In [11]:
for x in cat_cols[:3]:
    le = LabelEncoder()
    le.fit(data[x])
    data[x] = le.transform(data[x])

In [12]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.0,1,22,9,181.0,5450.0,0,0.0,0.0,0.0,...,9.0,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal
1,0.0,1,22,9,239.0,486.0,0,0.0,0.0,0.0,...,19.0,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal
2,0.0,1,22,9,235.0,1337.0,0,0.0,0.0,0.0,...,29.0,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
3,0.0,1,22,9,219.0,1337.0,0,0.0,0.0,0.0,...,39.0,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
4,0.0,1,22,9,217.0,2032.0,0,0.0,0.0,0.0,...,49.0,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal

In [13]:
data[41] = data[41].apply(lambda x: 0 if x == 'normal' else 1)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.0,1,22,9,181.0,5450.0,0,0.0,0.0,0.0,...,9.0,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,0
1,0.0,1,22,9,239.0,486.0,0,0.0,0.0,0.0,...,19.0,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,0
2,0.0,1,22,9,235.0,1337.0,0,0.0,0.0,0.0,...,29.0,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0
3,0.0,1,22,9,219.0,1337.0,0,0.0,0.0,0.0,...,39.0,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0
4,0.0,1,22,9,217.0,2032.0,0,0.0,0.0,0.0,...,49.0,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0

In [14]:
#labels = data[41]
#data.drop([41],inplace = True, axis = 1)

In [15]:
#data.head()

In [16]:
data.columns

RangeIndex(start=0, stop=42, step=1)

In [17]:
labels = data[41]
labels.unique()

array([0, 1])

In [18]:
cat_cols = [1,2,3]

In [19]:
ohe = OneHotEncoder()
ohe.fit(data[cat_cols])
transformed = ohe.transform(data[cat_cols])

In [20]:
print(transformed.toarray().shape)

(494020, 80)

In [21]:
num_ohe_cols = {col: len(ohe.categories_[i]) for i, col in enumerate(cat_cols)}

print(num_ohe_cols) # number of cols encoded from each of cat_cols, have to modify col names accordingly

{1: 3, 2: 66, 3: 11}

In [36]:
#ohe = OneHotEncoder()
#ohe.fit(labels.values.reshape(-1,1))
#labels_k = ohe.transform(labels.values.reshape(-1,1))

In [37]:
#transformed.shape

In [38]:
#labels.shape

In [39]:
#labels_k.shape

In [22]:
data.drop(cat_cols, axis = 1, inplace = True)

In [23]:
data = data.values

In [24]:
from scipy.sparse import csr_matrix

# Convert sparse matrix to a dense NumPy array
transformed_dense = transformed.toarray()

# Now concatenate
data = np.concatenate((data, transformed_dense), axis=1)

In [27]:
data.shape # col0, col4, ..., <one hot encoded>

(494020, 119)

In [26]:
columnNamesExtended = ['duration', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell', 'su_attempted', 'num_root', 'num_file_creations', 'num_shells', 'num_access_files', 'num_outbound_cmds', 'is_host_login', 'is_guest_login', 'count', 'srv_count', 'serror_rate', 'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate', 'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate', 'dst_host_serror_rate', 'dst_host_srv_serror_rate', 'dst_host_rerror_rate', 'dst_host_srv_rerror_rate', 'Y', 'protocol_type_1', 'protocol_type_2', 'protocol_type_3', 'service_1', 'service_2', 'service_3', 'service_4', 'service_5', 'service_6', 'service_7', 'service_8', 'service_9', 'service_10', 'service_11', 'service_12', 'service_13', 'service_14', 'service_15', 'service_16', 'service_17', 'service_18', 'service_19', 'service_20', 'service_21', 'service_22', 'service_23', 'service_24', 'service_25', 'service_26', 'service_27', 'service_28', 'service_29', 'service_30', 'service_31', 'service_32', 'service_33', 'service_34', 'service_35', 'service_36', 'service_37', 'service_38', 'service_39', 'service_40', 'service_41', 'service_42', 'service_43', 'service_44', 'service_45', 'service_46', 'service_47', 'service_48', 'service_49', 'service_50', 'service_51', 'service_52', 'service_53', 'service_54', 'service_55', 'service_56', 'service_57', 'service_58', 'service_59', 'service_60', 'service_61', 'service_62', 'service_63', 'service_64', 'service_65', 'service_66', 'flag_1', 'flag_2', 'flag_3', 'flag_4', 'flag_5', 'flag_6', 'flag_7', 'flag_8', 'flag_9', 'flag_10', 'flag_11']
print(len(columnNamesExtended))

119

In [31]:
df = pd.DataFrame(data, columns=columnNamesExtended)
labels = df['Y']
labels.unique()

array([0., 1.])

In [32]:
df.to_csv('_data_/KDDCup_OHE_.csv', index=False)

In [33]:
#data = np.concatenate((data, transformed), axis = 1)

In [57]:
#main_msk = np.random.uniform(size = data.shape[0]) < 0.7
#np.save('../data/main_splitting_mask.npy', main_msk)
#main_msk = np.load('../data/main_splitting_mask.npy')
#main_msk.shape

In [42]:
#X_train = data[main_msk, :]
#y_train = labels[main_msk]
#y_train_k = labels_k[main_msk]
#data = data[~main_msk, :]
#labels = labels[~main_msk]
#labels_k = labels_k[~main_msk]

In [58]:
#sub_msk = np.random.uniform(size = data.shape[0]) < 0.5
#np.save('../data/sub_splitting_mask.npy', sub_msk)
#sub_msk = np.load('../data/sub_splitting_mask.npy')

In [59]:
#X_val = data[sub_msk, :]
#y_val = labels[sub_msk]
#y_val_k = labels_k[sub_msk]

In [60]:
#np.save('../data/X_train.npy', X_train)
#np.save('../data/y_train.npy', y_train)
#np.save('../data/y_train_k.npy', y_train_k)
#np.save('../data/X_val.npy', X_val)
#np.save('../data/y_val.npy', y_val)
#np.save('../data/y_val_k.npy', y_val_k)
#np.save('../data/X_test.npy', data[~sub_msk,:])
#np.save('../data/y_test.npy', labels[~sub_msk])
#np.save('../data/y_test_k.npy', labels_k[~sub_msk])